@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);
$blue: #3cb7f1;
body {
    font-size: 14px;
    line-height: 1.657;
    p {        
        margin-bottom: 14px;
        img {
            margin-bottom: 10px;
        }
    }

    h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
        font-size: 28px;
        margin-bottom: 0;
        font-weight: bold;
        clear: both;
    }

    h2,.h2 {
        font-size: 24px;
    }

    h3,.h3 {
        font-size: 22px;
    }

    h4,.h4 {
        font-size: 20px;
    }

    h5,.h5 {
        font-size: 18px;
    }

    span {

    }

    table {
        width: 100%;
        td {
            border: 1px solid #dfdfdf;
            padding: 3px;
        }
        margin-bottom: 14px;
        p {
            margin-bottom: 0; 
        }
    }

    b, strong {
        font-weight: bold;
    }
    .galery {
        padding-top: 20px;
        .img {
            float: left;
            width: 207px;
            margin-bottom: 20px;
            margin-right: 54px;            
            &.last {
                margin-right: 0;
            }

            img {
                border: 1px solid #dfdfdf;
                &:hover {
                    border: 1px solid $blue;
                }
            }
        }
    }
    ul {
        padding-left: 19px;
        list-style: image;
        list-style-image: url('../images/content-li.png');
        li {
            padding-left: 5px;
        }
        margin-bottom: 14px;
    }
}