@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);
body {
  font-size: 14px;
  line-height: 1.657; }
  body p {
    margin-bottom: 14px; }
    body p img {
      margin-bottom: 10px; }
  body h1, body h2, body h3, body h4, body h5, body .h1, body .h2, body .h3, body .h4, body .h5 {
    font-size: 28px;
    margin-bottom: 0;
    font-weight: bold;
    clear: both; }
  body h2, body .h2 {
    font-size: 24px; }
  body h3, body .h3 {
    font-size: 22px; }
  body h4, body .h4 {
    font-size: 20px; }
  body h5, body .h5 {
    font-size: 18px; }
  body table {
    width: 100%;
    margin-bottom: 14px; }
    body table td {
      border: 1px solid #dfdfdf;
      padding: 3px; }
    body table p {
      margin-bottom: 0; }
  body b, body strong {
    font-weight: bold; }
  body .galery {
    padding-top: 20px; }
    body .galery .img {
      float: left;
      width: 207px;
      margin-bottom: 20px;
      margin-right: 54px; }
      body .galery .img.last {
        margin-right: 0; }
      body .galery .img img {
        border: 1px solid #dfdfdf; }
        body .galery .img img:hover {
          border: 1px solid #3cb7f1; }
  body ul {
    padding-left: 19px;
    list-style: image;
    list-style-image: url("../images/content-li.png");
    margin-bottom: 14px; }
    body ul li {
      padding-left: 5px; }

/*# sourceMappingURL=editor.css.map */
