.catalog-page-catalog {
    @extend .home-catalog;
    background: transparent;
    padding-top: 131px;
    .caption {
        color: $dark;
        .icon {
            width: 46px;
            height: 61px;
            background: url('../images/catalog-icon.png') center no-repeat;
        }
    }
    .categories {
        .category {
            margin: 0 54px 50px 0;
            box-shadow: none;
            border: 1px solid #dfdfdf;
        }
    }
}