.product-table {
    text-align: left;
    width: 100%;
    margin-top: 44px;
    .photo {
        width: 91px;
        padding-right: 12px;
        img {
            border: 1px solid #dfdfdf;
        }
    }

    .name {
        width: 500px;
    }

    th {
        font-size: 14px;
        color: #8e8e8e;
        font-weight: bold;
        padding-bottom: 15px;
    }

    td {
        vertical-align: middle;
        border-bottom:  1px solid #dfdfdf;
        border-top:  1px solid #dfdfdf;
        padding: 10px 0;
        a {
            text-decoration: none;
        }
    }

}