@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);

$blue: #3cb7f1;
$dark: #21242a;
$gray: #f0f0f0;
$white: #ffffff;

body {
    font-family: 'Open Sans', sans-serif;
    color: $dark;
    font-size: 14px;
    min-width: 992px;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: $dark;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.blue-link {
    @extend a;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    &:hover, .current {
        color: $blue;
        font-weight: 800;
    }
}

.clear {
    clear: both;
}

.container {
    width: 992px;
    margin: 0 auto;
    position: relative;
}

b {
    font-weight: bold;
}

.phone {
    span {
        color: $blue;
        font-weight: bold;
    }
}

.text-content {
    font-size: 14px;
    line-height: 1.857;
    p {
        
        margin-bottom: 22px;
    }

    h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
        font-size: 28px;
        margin-bottom: 22px;
        font-weight: bold;
    }

    h2,.h2 {
        font-size: 26px;
    }

    h3,.h3 {
        font-size: 24px;
    }

    h4,.h4 {
        font-size: 20px;
    }

    h5,.h5 {
        font-size: 18px;
    }
    
    span {
        
    }
    
    table {
        width: 100%;
        td {
            border: 1px solid #dfdfdf;
            padding: 3px;
        }
        margin-bottom: 22px;
    }
    
    b, strong {
        font-weight: bold;
    }
}

.seo-text {
    margin-bottom: 46px;
}

.shadow-top {
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
}

.shadow-bottom {
    -webkit-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.15);
}

.date {
    color: #b7b7b7;
    font-size: 13px;
    background: url('../images/calendar.png') left center no-repeat;
    padding-left: 26px;
    line-height: 16px;
}

.two-col-page {
    padding: 35px 0 50px;
}

.breadcrumbs {
    font-size: 13px;
    li {
        color: #999999;
        display: inline-block;
        span {
            height: 13px;
            padding: 0 9px;
            display: inline-block;
            background: url('../images/breadcrum-chevron.png') center 5px no-repeat;
        }
    }
}

.download-link {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    background: url('../images/download-icon.png') left bottom no-repeat;
    padding: 7px 0 0 31px;
}

.pagination {
    padding: 20px 0;
    text-align: justify;
}

.all-news-page {
    .news-preview {
        margin-bottom: 20px;
    }
}