header {
    background: $gray;
    .top-line {
        background: $blue;
        height: 4px;
        margin-bottom: 33px;
    }

    .info {
        padding-bottom: 20px;
        border-bottom: 1px solid #cdcdcd;       
        .logo {
            float: left;
            text-decoration: none;
            line-height: 1.125;
            font-size: 13px;
            display: block;
            background: url('../images/logo.png') no-repeat top left;
            width: 300px;
            padding-top: 41px;
            b {
                font-size: 16px;
            }
        }
        .contacts {
            float: left;
            width: 200px;
            margin-left: 226px;
            padding-top: 15px;
            .phone {
                font-size: 22px;
                margin-bottom: 6px;
            }
        }
        .address {
            float: left;
            width: 215px;
            margin-left: 51px;
            padding-top: 4px;
            .map {
                float: left;
                background: url('../images/map.png') no-repeat center;
                width: 66px;
                height: 66px;
                cursor: pointer;
            }

            .text {
                float: left;
                width: 130px;
                margin-left: 18px;
                padding-top: 13px;
                line-height: 1.3;
            }
        }
    }
    nav.primary {
        ul {
            li {
                padding: 23px 0;
                display: inline-block;  
                margin-right: 45px;
                &:last-child {
                    margin: 0;
                }
                a {
                    @extend .blue-link;                   
                    
                }
            }
        }
    }
}
