.home-slider {
    background: $gray;
    .overflow {
        min-width: 992px;
        overflow: hidden;
        margin: 0 auto;
    }
    .slider-container {
        width: 1162px;
        vertical-align: middle;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        .slider-container-inner {
            width: 100%;
            position: relative;
            .slides {
                li {
                    position: relative;
                }
            }
            .custom-navigation {
                z-index: 10;
                position: absolute;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                top: 339px;
                left: 83px;
                width: 109px;
                padding-top: 3px;
                color: $blue;

                .flex-prev, .flex-next {
                    display: block;
                    width: 16px;
                    height: 27px;
                    background: url('../images/slider-arrows.png') no-repeat;
                    background-position: 0 -27px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .flex-next {
                    background-position: 0 0;
                    left: auto;
                    right: 0;
                }

            }
            .slide-text {
                position: absolute;
                z-index: 9;
                top: 112px;
                left: 83px;
                width: 450px;
                .caption {
                    font-size: 35px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 13px;
                }

                .text {
                    font-size: 14px;
                    line-height: 1.4;
                    margin-bottom: 34px;
                }

                .link {
                    font-size: 19px;
                    text-decoration: none;
                    display: block;
                    border: 2px solid $blue;
                    line-height: 50px;
                    padding-left: 21px;
                    background: url('../images/slider-link.png') no-repeat;
                    background-position: 410px center;
                }
            }
        }
    }
}

.home-slider-bg {
    background: $blue;
    margin-top: -146px;
    height: 146px;
}

.home-catalog {
    background: $blue;
    padding-top: 162px;
    margin-bottom: 50px;
    .caption {
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        top: -73px;
        left: 75px;
        .icon {
            width: 95px;
            height: 101px;
            position: absolute;
            left: -75px;
            top: -20px;
            background: url('../images/home-catalog-icon.png') center no-repeat;
        }
    }

    .categories {
        padding: 8px 0 20px 0;
        .category {
            float: left;
            margin: 0 46px 50px 8px;
            font-size: 15px;
            text-decoration: none;
            display: block;
            width: 205px;
            height: 205px;
            background: $white;
            -webkit-box-shadow: -8px -8px 0px 0px rgba(103,199,244,1);
            -moz-box-shadow: -8px -8px 0px 0px rgba(103,199,244,1);
            box-shadow: -8px -8px 0px 0px rgba(103,199,244,1);
            .img {
                text-align: center;
                overflow: hidden;
                padding-top: 25px;
            }

            .name {
                padding-top: 5px;
                text-align: center;
                line-height: 1.2;
            }

            &.last {
                margin-right: 0;
            }
        }
    }
}

.promo {
    margin-bottom: 34px;
    .block {
        box-sizing: border-box;
        background: url('../images/home-promo.png') left top no-repeat;
        float: left;
        width: 300px;
        padding: 28px 0 20px  36px;
        margin-right: 66px;
        .caption {
            font-size: 19px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .text {
            line-height: 1.429;
            font-size: 14px;
        }

        &:first-child {
            width: 300px;
            margin-right: 106px;
        }

        &.last {
            width: 200px;
            margin-right: 0;
        }
    }
}

.home-news {
    @extend .shadow-top;
    background: $gray;
    padding-top: 59px;
    padding-bottom: 63px;
    .special {
        margin-right: 48px;
        width: 677px;
        height: 291px;
        position: relative;
        float: left;
        .special-text {
            color: $white;
            position: absolute;
            z-index: 9;
            top: 36px;
            left: 43px;
            width: 301px;
            .caption {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 13px;
            }

            .text {
                font-size: 14px;
                line-height: 1.75;
                margin-bottom: 42px;
            }

            .link {
                color: $white;
                font-size: 19px;
                text-decoration: none;
                display: block;
                border: 2px solid $white;
                line-height: 50px;
                padding-left: 21px;
                background: url('../images/special-link.png') no-repeat;
                background-position: 263px center;
            }
        }
    }

    .news-side {
        position: relative;
        float: left;
        width: 266px;
        height: 291px;
        .caption {
            text-transform: uppercase;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 18px;
        }
        .news-small {
            margin-bottom: 30px;
            .date {
                margin-bottom: 13px;
            }
            .name {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .preview {
                line-height: 1.538;
                font-size: 13px;
            }
        }

    }

    .news-overflow {
        overflow: hidden;
        height: 230px;
    }

    .all-news {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}