.popup {
    display: table;
    display: none;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.66);
    z-index: 999;
    .popup-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;        
        .popup-form {
            width: 360px;
            display: inline-block;
            position: relative;
            background: $white;

            .message {
                padding: 25px 0;
                font-size: 15px;
                font-weight: 600;
            }

            .close {
                position: absolute;
                width: 17px;
                height: 16px;
                background: url('../images/close-icon.png') center no-repeat;
                top: -23px;
                right: -23px;
                z-index: 10;
                cursor: pointer;
            }

            .caption {
                background: $blue;
                color: $white;
                font-size: 19px;
                font-weight: bold;
                padding: 23px 0;
                margin-bottom: 25px;
            }

            .form-group {
                margin-bottom: 15px;
                input[type='text'], input[type='email'], textarea {
                    font-size: 13px;
                    border: 1px solid #dfdfdf;
                    box-sizing: border-box;
                    width: 309px;
                    height: 39px;
                    padding-left: 17px;
                    outline: none;
                }

                textarea {
                    padding-top: 10px;
                    max-width: 309px;
                    height: 109px;
                }

                input[type='submit'] {
                    font-size: 15px;
                    background: $white;
                    border: 2px solid #dfdfdf;
                    display: inline-block;
                    padding: 9px 14px;
                    text-decoration: none;
                    &:hover {
                        border-color: $blue;
                    }
                    margin-bottom: 10px;
                }
            }


        }        
    }   
}
