.product-info {
    margin-bottom: 35px;
    .img {
        float: left;
        width: 307px;
        text-align: center;
        margin-right: 36px;
        img {
            border: 1px solid #dfdfdf;
        }
    }

    .description {
        float: left;
        width: 385px;
        .request-price-box {
            margin-bottom: 15px;
        }
        .request-price {
            text-decoration: none;
            font-size: 15px;
            display: inline-block;
            background: $blue;
            color: $white;
            padding: 12px 25px;
        }
    }    

}

.product-text {
    font-size: 13px;
    span {
        font-weight: 600;
    }
}

.product-nav {
    margin-top: 51px;
    font-size: 13px;
    text-align: justify;
    -webkit-text-align-last: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    a {
        border: 2px solid #dfdfdf;
        display: inline-block;
        padding: 9px 14px;
        text-decoration: none;
        &:hover {
            border-color: $blue;
        }
    }
}