.two-col-page .rightCol {
    float: left;
    width: 730px;
    > h1 {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 32px 0 42px;        
    }

    .search {
        margin-bottom: 27px;
        input {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #dfdfdf;
            font-style: italic;
            font-size: 13px;
            padding: 10px 0 10px 42px;
            background: $white url('../images/search-icon.png') no-repeat 14px 50%;
            outline: none;
        }
    }

    .sub-menu {
        > ul {
            display: table;            
            > li {
                height: 100%;
                padding-left: 35px;
                margin-bottom: 10px;
                box-sizing: border-box;                
                width: 243px;
                display: table-cell;
                &:nth-child(3n+2) {
                    border-right:  2px solid #dfdfdf;
                }
                
                &:nth-child(3n+1) {
                    border-right:  2px solid #dfdfdf;
                    padding-left: 0;
                }
                a {
                    font-size: 15px;
                    font-weight: 500;
                    @extend .blue-link;
                    &:hover, &.current {
                        font-weight: 500;

                    }
                }
                > ul {
                    padding-top: 10px;
                    > li {
                        margin-bottom: 10px;
                        a {           
                            font-size: 13px;
                            display: inline-block;
                            padding-left: 16px;
                            background: url('../images/menu-li.png') no-repeat 0 4px;
                            &:hover, &.current {
                                font-weight: 500;
                                background-image: url('../images/menu-li-current.png');
                            }
                        }

                        ul {
                            li {
                                margin-bottom: 10px;
                            }
                            padding: 9px 0 0 19px;
                        }
                    } 
                }
            }
        }
    }
}

