@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
.blue-link,
header nav.primary ul li a,
.left-menu nav ul li a,
.two-col-page .rightCol .sub-menu > ul > li a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #21242a;
  font-size: 14px;
  min-width: 992px;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
}

a, .blue-link, header nav.primary ul li a, .left-menu nav ul li a, .two-col-page .rightCol .sub-menu > ul > li a {
  color: #21242a;
  text-decoration: underline;
}
a:hover, .blue-link:hover, header nav.primary ul li a:hover, .left-menu nav ul li a:hover, .two-col-page .rightCol .sub-menu > ul > li a:hover {
  text-decoration: none;
}

.blue-link, header nav.primary ul li a, header nav.primary ul li .blue-link, .left-menu nav ul li a, .left-menu nav ul li .blue-link, .two-col-page .rightCol .sub-menu > ul > li a, .two-col-page .rightCol .sub-menu > ul > li .blue-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.blue-link:hover, header nav.primary ul li a:hover, .left-menu nav ul li a:hover, .two-col-page .rightCol .sub-menu > ul > li a:hover, .two-col-page .rightCol .sub-menu > ul > li .blue-link:hover, .blue-link .current, header nav.primary ul li a .current, .left-menu nav ul li a .current, .two-col-page .rightCol .sub-menu > ul > li a .current, .two-col-page .rightCol .sub-menu > ul > li .blue-link .current {
  color: #3cb7f1;
  font-weight: 800;
}

.clear {
  clear: both;
}

.container {
  width: 992px;
  margin: 0 auto;
  position: relative;
}

b {
  font-weight: bold;
}

.phone span {
  color: #3cb7f1;
  font-weight: bold;
}

.text-content {
  font-size: 14px;
  line-height: 1.857;
}
.text-content p {
  margin-bottom: 22px;
}
.text-content h1, .text-content h2, .text-content h3, .text-content h4, .text-content h5, .text-content .h1, .text-content .h2, .text-content .h3, .text-content .h4, .text-content .h5 {
  font-size: 28px;
  margin-bottom: 22px;
  font-weight: bold;
}
.text-content h2, .text-content .h2 {
  font-size: 26px;
}
.text-content h3, .text-content .h3 {
  font-size: 24px;
}
.text-content h4, .text-content .h4 {
  font-size: 20px;
}
.text-content h5, .text-content .h5 {
  font-size: 18px;
}
.text-content table {
  width: 100%;
  margin-bottom: 22px;
}
.text-content table td {
  border: 1px solid #dfdfdf;
  padding: 3px;
}
.text-content b, .text-content strong {
  font-weight: bold;
}

.seo-text {
  margin-bottom: 46px;
}

.shadow-top, footer .end, .home-news {
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.shadow-bottom {
  -webkit-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
}

.date {
  color: #b7b7b7;
  font-size: 13px;
  background: url("../images/calendar.png") left center no-repeat;
  padding-left: 26px;
  line-height: 16px;
}

.two-col-page {
  padding: 35px 0 50px;
}

.breadcrumbs {
  font-size: 13px;
}
.breadcrumbs li {
  color: #999999;
  display: inline-block;
}
.breadcrumbs li span {
  height: 13px;
  padding: 0 9px;
  display: inline-block;
  background: url("../images/breadcrum-chevron.png") center 5px no-repeat;
}

.download-link {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  background: url("../images/download-icon.png") left bottom no-repeat;
  padding: 7px 0 0 31px;
}

header {
  background: #f0f0f0;
}
header .top-line {
  background: #3cb7f1;
  height: 4px;
  margin-bottom: 33px;
}
header .info {
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}
header .info .logo {
  float: left;
  text-decoration: none;
  line-height: 1.125;
  font-size: 13px;
  display: block;
  background: url("../images/logo.png") no-repeat top left;
  width: 300px;
  padding-top: 41px;
}
header .info .logo b {
  font-size: 16px;
}
header .info .contacts {
  float: left;
  width: 200px;
  margin-left: 226px;
  padding-top: 15px;
}
header .info .contacts .phone {
  font-size: 22px;
  margin-bottom: 6px;
}
header .info .address {
  float: left;
  width: 215px;
  margin-left: 51px;
  padding-top: 4px;
}
header .info .address .map {
  float: left;
  background: url("../images/map.png") no-repeat center;
  width: 66px;
  height: 66px;
  cursor: pointer;
}
header .info .address .text {
  float: left;
  width: 130px;
  margin-left: 18px;
  padding-top: 13px;
  line-height: 1.3;
}
header nav.primary ul li {
  padding: 23px 0;
  display: inline-block;
  margin-right: 45px;
}
header nav.primary ul li:last-child {
  margin: 0;
}

footer nav {
  background: #2b2d32;
}
footer nav ul li {
  padding: 26px 0;
  display: inline-block;
  margin-right: 55px;
}
footer nav ul li:last-child {
  margin: 0;
}
footer nav ul li a, footer nav ul li .blue-link, footer header nav.primary ul li a, header footer nav.primary ul li a, footer .left-menu nav ul li a, .left-menu footer nav ul li a, footer nav .two-col-page .rightCol .sub-menu > ul > li li a, .two-col-page .rightCol footer nav .sub-menu > ul > li li a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
footer nav ul li a:hover, footer nav ul li .blue-link:hover, footer nav .two-col-page .rightCol .sub-menu > ul > li li a:hover, .two-col-page .rightCol footer nav .sub-menu > ul > li li a:hover, footer nav ul li a.current, footer nav ul li .current.blue-link, footer nav .two-col-page .rightCol .sub-menu > ul > li li a.current, .two-col-page .rightCol footer nav .sub-menu > ul > li li a.current {
  color: #3cb7f1;
}
footer .big {
  box-sizing: border-box;
  position: relative;
  padding: 45px 0;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  padding-left: 128px;
}
footer .big .phone {
  font-size: 30px;
  position: absolute;
  font-weight: 500;
  top: 51px;
  left: 602px;
}
footer .end {
  background: #f0f0f0;
}
footer .end .container {
  text-align: center;
  font-size: 14px;
  padding: 26px 0;
  line-height: 1.5;
}
footer .end .container a, footer .end .container .blue-link, footer .end .container .two-col-page .rightCol .sub-menu > ul > li a, .two-col-page .rightCol .sub-menu > ul > li footer .end .container a {
  text-decoration: none;
  font-weight: bold;
  color: #3cb7f1;
}

.left-menu {
  float: left;
  width: 200px;
  margin-right: 60px;
}
.left-menu .caption {
  font-size: 16px;
  font-weight: bold;
  background: url("../images/menu-icon.png") no-repeat left top;
  padding: 0 0 6px 34px;
  line-height: 35px;
  border-bottom: 2px solid #dfdfdf;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.left-menu nav ul li {
  margin-bottom: 21px;
}
.left-menu nav ul li .blue-link, .left-menu header nav.primary ul li a, header .left-menu nav.primary ul li a, .left-menu nav ul li a, .left-menu nav .two-col-page .rightCol .sub-menu > ul > li li a, .two-col-page .rightCol .left-menu nav .sub-menu > ul > li li a {
  font-size: 15px;
  font-weight: 500;
}
.left-menu nav ul li .blue-link:hover, .left-menu nav ul li a:hover, .left-menu nav .two-col-page .rightCol .sub-menu > ul > li li a:hover, .two-col-page .rightCol .left-menu nav .sub-menu > ul > li li a:hover, .left-menu nav ul li .current.blue-link, .left-menu nav ul li a.current, .left-menu nav .two-col-page .rightCol .sub-menu > ul > li li a.current, .two-col-page .rightCol .left-menu nav .sub-menu > ul > li li a.current {
  font-weight: 500;
}
.left-menu nav ul li ul {
  margin-top: 18px;
  padding: 14px 0 1px 14px;
  background: #f0f0f0;
}
.left-menu nav ul li ul .blue-link, .left-menu nav ul li ul a, .left-menu nav .two-col-page .rightCol .sub-menu > ul > li li ul a, .two-col-page .rightCol .left-menu nav .sub-menu > ul > li li ul a {
  display: inline-block;
  padding-left: 16px;
  background: url("../images/menu-li.png") no-repeat 0 4px;
}
.left-menu nav ul li ul .blue-link:hover, .left-menu nav ul li ul a:hover, .left-menu nav .two-col-page .rightCol .sub-menu > ul > li li ul a:hover, .two-col-page .rightCol .left-menu nav .sub-menu > ul > li li ul a:hover, .left-menu nav ul li ul .current.blue-link, .left-menu nav ul li ul a.current, .left-menu nav .two-col-page .rightCol .sub-menu > ul > li li ul a.current, .two-col-page .rightCol .left-menu nav .sub-menu > ul > li li ul a.current {
  font-weight: 500;
  background-image: url("../images/menu-li-current.png");
}

.two-col-page .rightCol {
  float: left;
  width: 730px;
}
.two-col-page .rightCol > h1 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 32px 0 42px;
}
.two-col-page .rightCol .search {
  margin-bottom: 27px;
}
.two-col-page .rightCol .search input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #dfdfdf;
  font-style: italic;
  font-size: 13px;
  padding: 10px 0 10px 42px;
  background: #ffffff url("../images/search-icon.png") no-repeat 14px 50%;
}
.two-col-page .rightCol .sub-menu > ul {
  display: table;
}
.two-col-page .rightCol .sub-menu > ul > li {
  height: 100%;
  padding-left: 35px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 243px;
  display: table-cell;
}
.two-col-page .rightCol .sub-menu > ul > li:nth-child(3n+2) {
  border-right: 2px solid #dfdfdf;
}
.two-col-page .rightCol .sub-menu > ul > li:nth-child(3n+1) {
  border-right: 2px solid #dfdfdf;
  padding-left: 0;
}
.two-col-page .rightCol .sub-menu > ul > li .blue-link, .two-col-page .rightCol .sub-menu > ul > li a {
  font-size: 15px;
  font-weight: 500;
}
.two-col-page .rightCol .sub-menu > ul > li .blue-link:hover, .two-col-page .rightCol .sub-menu > ul > li a:hover, .two-col-page .rightCol .sub-menu > ul > li .current.blue-link, .two-col-page .rightCol .sub-menu > ul > li a.current {
  font-weight: 500;
}
.two-col-page .rightCol .sub-menu > ul > li > ul {
  padding-top: 10px;
}
.two-col-page .rightCol .sub-menu > ul > li > ul > li {
  margin-bottom: 10px;
}
.two-col-page .rightCol .sub-menu > ul > li > ul > li .blue-link, .two-col-page .rightCol .sub-menu > ul > li > ul > li a {
  font-size: 13px;
  display: inline-block;
  padding-left: 16px;
  background: url("../images/menu-li.png") no-repeat 0 4px;
}
.two-col-page .rightCol .sub-menu > ul > li > ul > li .blue-link:hover, .two-col-page .rightCol .sub-menu > ul > li > ul > li a:hover, .two-col-page .rightCol .sub-menu > ul > li > ul > li .current.blue-link, .two-col-page .rightCol .sub-menu > ul > li > ul > li a.current {
  font-weight: 500;
  background-image: url("../images/menu-li-current.png");
}
.two-col-page .rightCol .sub-menu > ul > li > ul > li ul {
  padding: 9px 0 0 19px;
}
.two-col-page .rightCol .sub-menu > ul > li > ul > li ul li {
  margin-bottom: 10px;
}

.home-slider {
  background: #f0f0f0;
}
.home-slider .overflow {
  min-width: 992px;
  overflow: hidden;
  margin: 0 auto;
}
.home-slider .slider-container {
  width: 1162px;
  vertical-align: middle;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.home-slider .slider-container .slider-container-inner {
  width: 100%;
  position: relative;
}
.home-slider .slider-container .slider-container-inner .slides li {
  position: relative;
}
.home-slider .slider-container .slider-container-inner .custom-navigation {
  z-index: 10;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  top: 339px;
  left: 83px;
  width: 109px;
  padding-top: 3px;
  color: #3cb7f1;
}
.home-slider .slider-container .slider-container-inner .custom-navigation .flex-prev, .home-slider .slider-container .slider-container-inner .custom-navigation .flex-next {
  display: block;
  width: 16px;
  height: 27px;
  background: url("../images/slider-arrows.png") no-repeat;
  background-position: 0 -27px;
  position: absolute;
  top: 0;
  left: 0;
}
.home-slider .slider-container .slider-container-inner .custom-navigation .flex-next {
  background-position: 0 0;
  left: auto;
  right: 0;
}
.home-slider .slider-container .slider-container-inner .slide-text {
  position: absolute;
  z-index: 9;
  top: 112px;
  left: 83px;
  width: 450px;
}
.home-slider .slider-container .slider-container-inner .slide-text .caption {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.home-slider .slider-container .slider-container-inner .slide-text .text {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 34px;
}
.home-slider .slider-container .slider-container-inner .slide-text .link {
  font-size: 19px;
  text-decoration: none;
  display: block;
  border: 2px solid #3cb7f1;
  line-height: 50px;
  padding-left: 21px;
  background: url("../images/slider-link.png") no-repeat;
  background-position: 410px center;
}

.home-slider-bg {
  background: #3cb7f1;
  margin-top: -146px;
  height: 146px;
}

.home-catalog, .catalog-page-catalog {
  background: #3cb7f1;
  padding-top: 162px;
  margin-bottom: 50px;
}
.home-catalog .caption, .catalog-page-catalog .caption {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  top: -73px;
  left: 75px;
}
.home-catalog .caption .icon, .catalog-page-catalog .caption .icon {
  width: 95px;
  height: 101px;
  position: absolute;
  left: -75px;
  top: -20px;
  background: url("../images/home-catalog-icon.png") center no-repeat;
}
.home-catalog .categories, .catalog-page-catalog .categories {
  padding: 8px 0 20px 0;
}
.home-catalog .categories .category, .catalog-page-catalog .categories .category {
  float: left;
  margin: 0 46px 50px 8px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  width: 205px;
  height: 205px;
  background: #ffffff;
  -webkit-box-shadow: -8px -8px 0px 0px #67c7f4;
  -moz-box-shadow: -8px -8px 0px 0px #67c7f4;
  box-shadow: -8px -8px 0px 0px #67c7f4;
}
.home-catalog .categories .category .img, .catalog-page-catalog .categories .category .img {
  text-align: center;
  overflow: hidden;
  padding-top: 25px;
}
.home-catalog .categories .category .name, .catalog-page-catalog .categories .category .name {
  padding-top: 5px;
  text-align: center;
  line-height: 1.2;
}
.home-catalog .categories .category.last, .catalog-page-catalog .categories .category.last {
  margin-right: 0;
}

.promo {
  margin-bottom: 34px;
}
.promo .block {
  box-sizing: border-box;
  background: url("../images/home-promo.png") left top no-repeat;
  float: left;
  width: 300px;
  padding: 28px 0 20px  36px;
  margin-right: 66px;
}
.promo .block .caption {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 8px;
}
.promo .block .text {
  line-height: 1.429;
  font-size: 14px;
}
.promo .block:first-child {
  width: 300px;
  margin-right: 106px;
}
.promo .block.last {
  width: 200px;
  margin-right: 0;
}

.home-news {
  background: #f0f0f0;
  padding-top: 59px;
  padding-bottom: 63px;
}
.home-news .special {
  margin-right: 48px;
  width: 677px;
  height: 291px;
  position: relative;
  float: left;
}
.home-news .special .special-text {
  color: #ffffff;
  position: absolute;
  z-index: 9;
  top: 36px;
  left: 43px;
  width: 301px;
}
.home-news .special .special-text .caption {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 13px;
}
.home-news .special .special-text .text {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 42px;
}
.home-news .special .special-text .link {
  color: #ffffff;
  font-size: 19px;
  text-decoration: none;
  display: block;
  border: 2px solid #ffffff;
  line-height: 50px;
  padding-left: 21px;
  background: url("../images/special-link.png") no-repeat;
  background-position: 263px center;
}
.home-news .news-side {
  position: relative;
  float: left;
  width: 266px;
  height: 291px;
}
.home-news .news-side .caption {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 18px;
}
.home-news .news-side .news-small {
  margin-bottom: 30px;
}
.home-news .news-side .news-small .date {
  margin-bottom: 13px;
}
.home-news .news-side .news-small .name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.home-news .news-side .news-small .preview {
  line-height: 1.538;
  font-size: 13px;
}
.home-news .news-overflow {
  overflow: hidden;
  height: 230px;
}
.home-news .all-news {
  position: absolute;
  left: 0;
  bottom: 0;
}

.catalog-page-catalog {
  background: transparent;
  padding-top: 131px;
}
.catalog-page-catalog .caption {
  color: #21242a;
}
.catalog-page-catalog .caption .icon {
  width: 46px;
  height: 61px;
  background: url("../images/catalog-icon.png") center no-repeat;
}
.catalog-page-catalog .categories .category {
  margin: 0 54px 50px 0;
  box-shadow: none;
  border: 1px solid #dfdfdf;
}

.product-table {
  text-align: left;
  width: 100%;
  margin-top: 44px;
}
.product-table .photo {
  width: 91px;
  padding-right: 12px;
}
.product-table .photo img {
  border: 1px solid #dfdfdf;
}
.product-table .name {
  width: 500px;
}
.product-table th {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: bold;
  padding-bottom: 15px;
}
.product-table td {
  vertical-align: middle;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  padding: 10px 0;
}
.product-table td a, .product-table td .blue-link, .product-table td header nav.primary ul li a, header nav.primary ul li .product-table td a, .product-table td .left-menu nav ul li a, .left-menu nav ul li .product-table td a, .product-table td .two-col-page .rightCol .sub-menu > ul > li a, .two-col-page .rightCol .sub-menu > ul > li .product-table td a {
  text-decoration: none;
}

.product-info {
  margin-bottom: 35px;
}
.product-info .img {
  float: left;
  width: 307px;
  text-align: center;
  margin-right: 36px;
}
.product-info .img img {
  border: 1px solid #dfdfdf;
}
.product-info .description {
  float: left;
  width: 385px;
}
.product-info .description .request-price-box {
  margin-bottom: 15px;
}
.product-info .description .request-price {
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  background: #3cb7f1;
  color: #ffffff;
  padding: 12px 25px;
}

.product-text {
  font-size: 13px;
}
.product-text span {
  font-weight: 600;
}

.product-nav {
  margin-top: 51px;
  font-size: 13px;
  text-align: justify;
  -webkit-text-align-last: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}
.product-nav a, .product-nav .blue-link, .product-nav header nav.primary ul li a, header nav.primary ul li .product-nav a, .product-nav .left-menu nav ul li a, .left-menu nav ul li .product-nav a, .product-nav .two-col-page .rightCol .sub-menu > ul > li a, .two-col-page .rightCol .sub-menu > ul > li .product-nav a {
  border: 2px solid #dfdfdf;
  display: inline-block;
  padding: 9px 14px;
  text-decoration: none;
}
.product-nav a:hover, .product-nav .blue-link:hover, .product-nav .two-col-page .rightCol .sub-menu > ul > li a:hover, .two-col-page .rightCol .sub-menu > ul > li .product-nav a:hover {
  border-color: #3cb7f1;
}

.popup {
  display: table;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.66);
  z-index: 999;
}
.popup .popup-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.popup .popup-inner .popup-form {
  width: 360px;
  display: inline-block;
  position: relative;
  background: #ffffff;
}
.popup .popup-inner .popup-form .message {
  padding: 25px 0;
  font-size: 15px;
  font-weight: 600;
}
.popup .popup-inner .popup-form .close {
  position: absolute;
  width: 17px;
  height: 16px;
  background: url("../images/close-icon.png") center no-repeat;
  top: -23px;
  right: -23px;
  z-index: 10;
  cursor: pointer;
}
.popup .popup-inner .popup-form .caption {
  background: #3cb7f1;
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  padding: 23px 0;
  margin-bottom: 25px;
}
.popup .popup-inner .popup-form .form-group {
  margin-bottom: 15px;
}
.popup .popup-inner .popup-form .form-group input[type='text'], .popup .popup-inner .popup-form .form-group input[type='email'], .popup .popup-inner .popup-form .form-group textarea {
  font-size: 13px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  width: 309px;
  height: 39px;
  padding-left: 17px;
  outline: none;
}
.popup .popup-inner .popup-form .form-group textarea {
  padding-top: 10px;
  max-width: 309px;
  height: 109px;
}
.popup .popup-inner .popup-form .form-group input[type='submit'] {
  font-size: 15px;
  background: #ffffff;
  border: 2px solid #dfdfdf;
  display: inline-block;
  padding: 9px 14px;
  text-decoration: none;
  margin-bottom: 10px;
}
.popup .popup-inner .popup-form .form-group input[type='submit']:hover {
  border-color: #3cb7f1;
}

/*# sourceMappingURL=style.css.map */
