footer {
    nav {
        background: #2b2d32;
        ul {
            li {
                padding: 26px 0;
                display: inline-block;  
                margin-right: 50px;
                &:last-child {
                    margin: 0;
                }
                a {                  
                    color: $white;
                    font-size: 15px;
                    font-weight: 500;
                    text-decoration: none;
                    &:hover, &.current {
                        color: $blue;
                    }
                }
            }
        }
    }

    .big {
        box-sizing: border-box;
        position: relative;
        padding: 45px 0;
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 600;
        padding-left: 128px;
        .phone {
            font-size: 30px;
            position: absolute;
            font-weight: 500;
            top: 51px;
            left: 602px;
        }
    }

    .end {
        @extend .shadow-top;
        background: $gray;

        .container {
            text-align: center;
            font-size: 14px;
            padding: 26px 0;
            line-height: 1.5;
            a {
                text-decoration: none;
                font-weight: bold;
                color: $blue;
            }
        }

    }
}