$blue: #3cb7f1;
$dark: #21242a;
$gray: #f0f0f0;
$white: #ffffff;

body {
    font-family: 'Open Sans', sans-serif;
    color: $dark;
    font-size: 14px;
    min-width: 992px;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: $dark;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.blue-link {
    @extend a;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    &:hover, &.current, &.section {
        color: $blue;
    }
}

.clear {
    clear: both;
}

.container {
    width: 992px;
    margin: 0 auto;
    position: relative;
}

b {
    font-weight: bold;
}

.phone {
    span {
        color: $blue;
        font-weight: bold;
    }
}

.text-content {
    font-size: 14px;
    line-height: 1.657;
    p {        
        margin-bottom: 14px;
        img {
            margin-bottom: 10px;
        }
    }

    h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
        font-size: 28px;
        margin-bottom: 0;
        font-weight: bold;
        clear: both;
    }

    h2,.h2 {
        font-size: 24px;
    }

    h3,.h3 {
        font-size: 22px;
    }

    h4,.h4 {
        font-size: 20px;
    }

    h5,.h5 {
        font-size: 18px;
    }

    span {

    }

    table {
        
        width: 100%;
        td {
            vertical-align: middle;
            border: 1px solid #dfdfdf;
            padding: 3px 9px;
        }
        margin-bottom: 14px;
        p {
            margin-bottom: 0; 
        }
    }

    b, strong {
        font-weight: bold;
    }
    .galery {
        padding-top: 20px;
        .img {
            float: left;
            width: 207px;
            margin-bottom: 20px;
            margin-right: 54px;            
            &.last {
                margin-right: 0;
            }

            img {
                border: 1px solid #dfdfdf;
                &:hover {
                    border: 1px solid $blue;
                }
            }
        }
    }
    ul {
        padding-left: 19px;
        list-style: image;
        list-style-image: url('../images/content-li.png');
        li {
            padding-left: 5px;
        }
        margin-bottom: 14px;
    }

}

.seo-text {
    margin-bottom: 46px;
}

.shadow-top {
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
}

.shadow-bottom {
    -webkit-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.15);
}

.date {
    color: #b7b7b7;
    font-size: 13px;
    background: url('../images/calendar.png') left center no-repeat;
    padding-left: 26px;
    line-height: 16px;
}

.two-col-page {
    padding: 35px 0 50px;
}

.breadcrumbs {
    font-size: 13px;
    li {
        color: #999999;
        display: inline-block;
        margin-bottom: 5px;
        span {
            height: 13px;
            padding: 0 9px;
            display: inline-block;
            background: url('../images/breadcrum-chevron.png') center 5px no-repeat;
        }
    }
}

.download-link {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    background: url('../images/download-icon.png') left bottom no-repeat;
    padding: 7px 0 0 31px;
}

.pagination {
    padding: 22px 0;
    text-align: center;

    a, .current {
        display: inline-block;
        margin: 0 2px;
        text-decoration: none;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #dfdfdf;
        &:hover {
            border-color: $blue;
        }
    }

    .current {
        border-color: $blue;
    }
}

.all-news-page {
    .news-preview {
        margin-bottom: 20px;
    }
}

.ajax-form {


    .message {
        padding: 25px 0;
        font-size: 15px;
        font-weight: 600;
    }

    .close {
        position: absolute;
        width: 17px;
        height: 16px;
        background: url('../images/close-icon.png') center no-repeat;
        top: -23px;
        right: -23px;
        z-index: 10;
        cursor: pointer;
    }

    .caption {
        background: $blue;
        color: $white;
        font-size: 19px;
        font-weight: bold;
        padding: 23px 0;
        margin-bottom: 25px;
    }

    .form-group {
        margin-bottom: 15px;
        input[type='text'], input[type='email'], textarea {
            font-size: 13px;
            border: 1px solid #dfdfdf;
            box-sizing: border-box;
            width: 309px;
            height: 39px;
            padding-left: 17px;
            outline: none;
        }

        textarea {
            padding-top: 10px;
            max-width: 309px;
            height: 109px;
        }

        input[type='submit'] {
            cursor: pointer;
            font-size: 15px;
            background: $white;
            border: 2px solid #dfdfdf;
            display: inline-block;
            padding: 9px 14px;
            text-decoration: none;
            &:hover {
                border-color: $blue;
            }
            margin-bottom: 10px;
        }
    }


}  

.arrow-scroll-top {
    display: none;
    background: url("../images/up-arrow.gif") no-repeat scroll 0 0 transparent;
    bottom: 60px;
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    line-height: 30px;
    opacity: 0.6;
    position: fixed;
    left: 50px;
    text-align: center;
    width: 80px;
    &:hover {
        opacity: 1;
    }
}