.left-menu {
    float: left;
    width: 200px;
    margin-right: 60px;
    .caption {
        font-size: 16px;
        font-weight: bold;
        background: url('../images/menu-icon.png') no-repeat left top;
        padding: 0 0 6px 34px;
        line-height: 35px;
        border-bottom: 2px solid #dfdfdf;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    nav {
        ul {
            li {
                margin-bottom: 21px;
                a {
                    font-size: 15px;
                    font-weight: 500;
                    @extend .blue-link;
                    &:hover, &.current {
                        font-weight: 500;

                    }
                }

                ul {
                    margin-top: 18px;
                    padding: 14px 0 1px 14px;
                    background: $gray;

                    a {
                        display: inline-block;
                        padding-left: 16px;
                        background: url('../images/menu-li.png') no-repeat 0 4px;
                        &:hover, &.current {
                            font-weight: 500;
                            background-image: url('../images/menu-li-current.png');
                        }
                    }

                }
            }
        }
    }
}