.popup {
    display: table;
    display: none;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.66);
    z-index: 999;
    .popup-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;        
        .popup-form {
            width: 360px;
            display: inline-block;
            position: relative;
            background: $white;
            @extend .ajax-form;
        }        
    }   
}
