.special-list {
    padding-top: 10px;
    .special {
        .img {
            width: 240px;
            height: 166px;
            float: left;
            border: 1px solid #dfdfdf;
            text-align: center;
            margin-right: 24px;
        }

        .preview-box {
            float: left;
            width: 463px;
            .date {
                margin-bottom: 14px;
            }
            .caption {
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 3px;
            }
            .preview {
                font-size: 13px;
                line-height: 1.846;
            }

        }
        margin-bottom: 30px;
    }
}